## index.tmpl
<%inherit file="port.tmpl"/>

<%block name="pane">
    Playlist
    <table>
        <tr>
            <th> Title </th>
        <tr>
            % for song in songs:
            <tr>
                <td> <a href="#">${song['music_brainz_title']}</a></td>
            <tr>
            % endfor
    </table>
</%block>
