## navigation.tmpl
Navigation
<ul>
    <li><a href="/">All Songs</a></li>
    <li><a href="/uploaded">Uploaded</a></li>
    <li><a href="/upload">Upload</a></li>
    ## If you are logged in
    % if session.get('_username', None):
        <li> <a href="/logout">Logout</a> </li>
    % endif
</ul>
