## upload.tmpl
<%inherit file="port.tmpl"/>
<%block name="pane">
        Upload a song. 
        <form action="upload" method="post" enctype="multipart/form-data">
            filename: <input type="file" name="audio_file" /> <br/>
            <input type="submit" />
        </form>
</%block>
